{% extends 'main/base.html' %}
{% load static %}
{% block content %}
<div class="amazing-deals">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-sm-6">
        <div class="section-heading">
          <h2>Best Weekly Offers In Each City</h2>
          <p>Hamyonbop narxlardagi sayohatlar sizni kutmoqda.</p>
        </div>
      </div>
      <div class="col-lg-12">
        <p>Hozircha maxsus takliflar mavjud emas.</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}